/*Alter background colour*/

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover {
    background: #2c0142;
}

.navbar li:hover {
    background-color: #6b2c91;
}


/*Edits to Navbar*/

.navbar {
    padding: 8px;
}

.navbar li {
    flex: 0 1 auto;
}

h1 {
    line-height: 32px;
}

header nav {
    margin: 0;
}

nav#top-menu ul li>a:not(:only-child):after {
    font-size: 10px;
}


/*Custom Annona Settings*/

.annona_container {
    max-width: 90%;
    margin: 0 auto;
}


/*Add padding to Annona commentary box*/

#annotation_text.content .commenting {
    padding: 12px;
}


/*Annona Settings*/

#storyboard_viewer {
    padding-bottom: 0
}

#storyboard_viewer .excerpt {
    background-color: #fefefe
}

#storyboard_viewer.annonaview.storyboard_viewer {
    background: #0a0a0a
}

@media print,
screen and (min-width: 37.5em) {
    #storyboard_viewer.annonaview.storyboard_viewer {
        height: 97vh !important
    }
}

@media print,
screen and (min-width: 37.5em) {
    .seadragonbox .openseadragon-container {
        height: 95vh !important
    }
}

@media screen and (min-width: 75em) {
    .seadragonbox .openseadragon-container {
        height: 90vh !important
    }
}

.seadragonbox {
    height: 90vh !important
}

@media print,
screen and (min-width: 37.5em) {
    .seadragonbox {
        height: 95vh !important
    }
}

@media screen and (min-width: 75em) {
    .seadragonbox {
        height: 90vh !important
    }
}

#storyboard_viewer button:hover,
#multistoryboard button:hover {
    cursor: pointer
}

.active.rect {
    outline: .1875rem solid #ff0 !important
}

@media print,
screen and (min-width: 37.5em) {
    .active.rect {
        outline: .25rem solid #ff0 !important
    }
}


/*Cookie Bar*/

.cb-enable,
.cb-policy {
    margin-top: .5rem
}

#cookie-bar a.cb-enable {
    background: #609
}

#cookie-bar a.cb-enable:hover {
    background: #406
}

#cookie-bar a.cb-policy {
    background: #fc3;
    color: #0a0a0a
}

#cookie-bar a.cb-policy:hover {
    background: #ffbf00
}

.introduction {
    padding-top: 3em;
    margin-bottom: 1em;
}

.item-showcase .top-level-metadata:not(:only-child) {
    height: unset;
}


/*Revised h3 sizes*/

.item-showcase .resource.item:not(:only-child) h3 {
    font-size: 1.3rem;
}

.item-showcase .resource.item h3 {
    font-size: 1.3rem;
    margin: 1em 0;
}

.media_embed_text h3 {
    color: #1d1d1d;
    font-size: 1.3rem;
    text-transform: inherit;
}

.introduction h3,
.explore h3 {
    font-size: 1.3rem;
}

.bold.introduction h3,
.bold.explore h3 {
    font-size: 1.3rem;
}

.introduction h3 a {
    color: #1D1D1D;
}


/*Revised image size for single Item Showcase items*/

@media screen and (min-width: 769px) and (max-width: 1440px) {
    .item-showcase .resource.item:only-child img {
        margin: 0 auto;
        max-height: 80vh;
        max-width: 100%;
    }
}

.iframe-container {
    height: 95vh;
}


/*Revise Item Showcase img height*/

@media screen and (max-width: 640px) {
    .item-showcase .resource.item img,
    .left .item.resource img,
    .right .item.resource img {
        max-height: 450px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .item-showcase .resource.item img,
    .left .item.resource img,
    .right .item.resource img {
        max-height: 650px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    figure img {
        height: 350px;
    }
}

@media screen and (max-width: 767px) {
    figure img {
        height: 300px;
    }
}

.introduction p,
.introduction li {
    margin-block-start: 0;
}

@media screen and (max-width: 768px) {
    .introduction p,
    .introduction li {
        font-size: 1em;
        line-height: 1.7;
        margin-block-start: 0;
    }
    .media_embed_text p {
        font-size: 1em;
        line-height: 1.7;
        margin-block-start: 0;
    }
    .item.resource .caption p {
        font-size: 1em;
    }
}

h2 span.title {
    font-weight: 400;
}

#cookie-bar p {
    color: #fff!important;
}

.exhibit-container {
    background: #000;
}


/*Mobile menu correction*/

@media screen and (max-width: 1069px) {
    ul li:hover>ul,
    ul li:focus-within>ul,
    ul li ul:hover {
        background: unset;
        width: unset;
        display: unset;
        visibility: unset;
    }
    #menu ul.navigation li:last-child {
        border-bottom: unset;
        margin-bottom: 0;
    }
}


/*Mobile display correction*/

@media screen and (max-width: 1023px) {
    .item-showcase .resource.item {
        margin-bottom: 0;
    }
    .item-horizontal {
        padding: 0;
    }
    .media_embed_text {
        border-bottom: unset;
        padding: 0 20%;
    }
    .introduction,
    .explore {
        width: 100%;
        padding-top: 3em;
        padding-bottom: 3em;
    }
}

@media screen and (max-width: 640px) {
    .media_embed_text {
        padding: 0 10%;
    }
}


/*Change background hero transparency*/

.block.header-wrapper {
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 10%);
}


/*Resource with Text*/

.image-half.left {
    order: 0;
}

.image-half.right {
    order: 1;
}

.media-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

.image-half {
    display: flex;
    flex-basis: 50%;
    flex-grow: 0;
    width: 50%;
    flex-shrink: 1;
    justify-content: center;
}

.text-half {
    display: flex;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    width: 50%;
}

.media-text .image-half .left {
    max-width: 100%;
}

.media-text .image-half .right {
    max-width: 100%;
}

.image-half .media-render {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .media-text {
        flex-direction: column;
    }
    .image-half {
        width: 90%;
    }
    .text-half {
        width: 90%;
        padding-right: 0;
    }
    /*End Resource with text*/
    .item-horizontal {
        padding: 1em 0 0 0;
    }
    .item-showcase .resource.item:not(:only-child) h3 {
        font-size: 1.1rem;
    }
    .item-showcase h3,
    .item-showcase .resource.item h3 {
        font-size: 1.2rem;
        margin-top: 12px;
        margin-bottom: 12px;
        text-transform: inherit;
    }
    .media_embed_text h3 {
        font-size: 1.2rem;
    }
    .bold.introduction h3,
    .bold.explore h3 {
        font-size: 1.2rem;
    }
    .introduction h3 a {
        font-size: 1.2rem;
    }
    .introduction.no-padding-top h3 {
        font-size: 1.2rem;
    }
    .exhibit-container {
        background: #000;
    }
}

@media screen and (min-width: 641px) {
    .col-md-6.offset-3.mt-5 h2 {
        font-size: 36px;
    }
}

@media screen and (min-width: 1024px) {
    .col-md-6.offset-3.mt-5 h2 {
        font-size: 38px;
    }
}

@media screen and (max-width: 640px) {
    .col-md-6.offset-3.mt-5 h2 {
        font-size: 29px;
    }
}

@media screen and (max-width: 768px) {
    /*Change caption padding*/
    .item-showcase>.item.resource:only-child .caption {
        padding: 0 10%;
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 800px) {
    .container.mt-5 {
        width: 50%;
    }
}


/*Allow three promo boxes  across page*/

.fourcol-margin {
    margin-right: 2.5%!important;
}


/*Sub-sub menu*/

nav#top-menu ul.navigation li ul li ul {
    left: 100%;
    position: absolute;
    top: 1px;
    background: #6b2c91;
    /*margin-left: -6px;*/
}

header nav>ul>li>ul li {
    text-indent: 0px
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-top: 0;
}

.value:lang(he) {
    text-align: right;
}


/*Link colours*/

.top-level-metadata h3 a {
    color: #1d1d1d;
}

nav.sub-menu {
    display: none;
}

.subheadings {
    width: 95%;
}

@media only screen and (min-width: 600px) {
    .sixcol.fullSizeUntilDesktop.eqHeights-block1 {
        margin-right: 1.9%!important;
        margin-left: 1.9%!important;
        width: 46.1%!important;
    }
}

.item-horizontal .item.resource {
    display: flex;
    justify-content: center;
}

.item-showcase-multiple-large .item-showcase .resource.item:not(:only-child) {
    width: 40%;
}

.item-showcase-multiple-large .item-showcase .resource.item:not(:only-child) img {
    max-height: 75vh;
}

@media screen and (max-width: 768px) {
    .item-showcase-multiple-large .item-showcase .resource.item:not(:only-child) {
        width: 50%;
    }
}

.item-horizontal .right,
.item-horizontal .left {
    flex-basis: 50%;
}

.item.resource .caption:only-child {
    padding: 2em 25%;
}

.item.resource .caption:not(:only-child) {
    padding: 0.5em 5%;
}

.item-showcase .resource.item:not(:only-child) h3 a {
    text-decoration: underline;
    font-size: 1.3em;
}

.colour-dark-grey .item-showcase .resource.item:not(:only-child) h3 a {
    color: #fff;
}

.item-showcase .resource.item:not(:only-child) h3 {
    margin: 1rem 0;
}

.item-showcase .resource.item:not(:only-child) {
    width: 28%;
}

.item-showcase .resource.item:not(:only-child) img {
    max-height: 30rem;
}

.item-showcase .top-level-metadata:not(:only-child) {
    justify-content: flex-start;
    margin: 12px 0 0 0;
}

.item.resource .top-level-metadata p.date:not(:only-child) {
    display: none;
}

.item.resource .top-level-metadata .alt_title:not(:only-child) {
    display: none;
}

.item.resource p.identifier:not(:only-child) {
    display: none;
}

@media only screen and (min-width: 1070px) {
    .navbar h1 {
        flex-basis: 26%;
        font-size: 22px;
    }
    #top-menu {
        flex-basis: 67%;
    }
    #top-menu ul.navigation li a {
        /*font-size: 16px;*/
        font-size: 15px;
    }
}

@media only screen and (min-width: 1118px) {
    .navbar h1 {
        flex-basis: 25%;
    }
    #top-menu {
        flex-basis: 74%;
    }
}

@media only screen and (min-width: 1345px) {
    .navbar h1 {
        flex-basis: 23%;
    }
    #top-menu {
        flex-basis: 76%;
    }
}

@media only screen and (max-width: 398px) {
    .navbar h1 {
        font-size: 26px;
    }
}

@media screen and (max-width: 1024px) {
    .item.resource .caption:not(:only-child) {
        padding: 1em;
    }
}

@media screen and (max-width: 640px) {
    .item.resource .caption:not(:only-child) {
        padding: 1em;
    }
}

@media screen and (max-width: 640px) {
    .item-showcase .resource.item:not(:only-child) {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1070px) and (max-width: 1499px) {
    .navbar ul li:nth-child(5)>ul {
        width: 230px;
    }
    .navbar ul li ul li a {
        padding: 12px;
    }
}

@media screen and (min-width: 1500px) {
    .navbar ul li:nth-child(5)>ul {
        width: 250px;
    }
}

@media screen and (min-width: 1440px) {
    #top-menu ul.navigation li a {
        font-size: 16px;
    }
}


/*Revise multiple images side-by-side in Item Showcase*/

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .item-showcase-multiple-large .item-showcase .resource.item:not(:only-child) img {
        max-height: 32rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .item-showcase-multiple-large .item-showcase .resource.item:not(:only-child) img {
        max-height: 25rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .item-showcase-multiple-large .item-showcase .resource.item:not(:only-child) img {
        max-height: 19rem;
    }
}

@media screen and (max-width: 480px) {
    .item-showcase-multiple-large .item-showcase .resource.item:not(:only-child) img {
        max-height: 16rem;
    }
}


/*Menu items for three column menus*/

@media screen and (min-width: 1024px) {
    .subheadings .fourcol figure img {
        height: 350px;
    }
}

@media screen and (min-width: 880px) and (max-width: 1023px) {
    .subheadings .fourcol figure img {
        height: 300px;
    }
}

@media screen and (min-width: 701px) and (max-width: 879px) {
    .subheadings .fourcol figure img {
        height: 275px;
    }
}


/*End menu items for three column menus*/

.subheadings .threecol {
    width: 22%!important;
}

.subheadings .threecol figure img {
    height: 250px;
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .subheadings .threecol {
        width: 48%!important;
    }
    .mobile-last {
        margin-right: 0px!important;
    }
    .subheadings .threecol figure img {
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .subheadings .threecol {
        width: 100%!important;
    }
}


/*Label settings*/

h3.label {
    font-size: 1.3rem;
    font-weight: 600;
}

.introduction .location {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.introduction .identifier {
    font-size: 1.1em;
}


/*Revise banner sizes*/

.block.header-wrapper {
    height: 300px;
}

.container.mt-5 {
    top: 0;
}

@media screen and (max-width: 1440px) {
    .block.header-wrapper {
        height: 225px;
    }
    .container.mt-5 {
        top: 0;
        width: unset;
        max-width: 600px;
        right: 80px;
    }
    .row.mt-5 {
        padding: 0;
        width: unset;
        min-width: unset;
        max-width: 700px;
        margin: 0 12px;
        /*max-width: 70%;*/
    }
    .col-md-6.offset-3.mt-5 h2 {
        padding: 0 1em;
    }
}

.row.mt-5 {
    max-width: fit-content;
}

@media screen and (min-width: 1441px) {
    .item-showcase .resource.item:only-child img {
        max-width: 100%;
        max-height: 75vh;
    }
}

@media screen and (min-width: 1025px) {
    .item-showcase .top-level-metadata h3 {
        margin-top: 0;
    }
}

@media screen and (max-width: 1024px) {
    .item-showcase .top-level-metadata h3 {
        margin: 0 0 12px 0;
    }
}